.headerview {
  .header-icon {
    background-image: url("/resources/images/stock.svg");
    background-size: 100% 100%;
    background-position: 0% 0% !important;
    background-repeat: no-repeat;
  }

  .x-button {
    color: black;
  }
}
